body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* header css */
.header {
  position: fixed;
  z-index: 11;
  padding: 15px 5%;
  width: 100%;
}
.header nav {
  padding: 0;
}
header.header .logo img {
  width: 180px;
  filter: invert(1);
}
header .navbar-collapse {
  justify-content: flex-end;
}
.navbar-nav li a {
  color: #fff;
  cursor: pointer;
}
header .navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* slider css */
.mySlides {
  position: relative;
  height: 100vh;
}
.mySlides img {
  height: 100%;
  object-fit: cover;
}
.mySlides:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.slider-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  width: auto;
  text-align: center;
}
.slider-caption h2 {
  font-size: 50px;
  font-weight: bold;
}
.slider-caption p {
  font-size: 20px;
}
.slider-caption a {
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  display: table;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
.slider-caption a:hover {
  background-color: #a3a3a3;
  border-color: #a3a3a3;
  color: #fff;
}
.caption-container p {
  margin: 0;
  padding: 8px;
}
.slider-section .column img {
  height: 80px;
  object-fit: cover;
}
.thumbnail-sec {
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

/* footer css */
.footer {
  padding: 50px 0;
  background-color: #7b5d3e;
  color: #fff;
  text-align: center;
}
.footer .alo {
  font-size: 62px;
  font-weight: 600;
}
.social {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.social li {
  padding: 0 10px;
}
.social a i {
  color: #fff;
  font-size: 32px;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media(max-width: 767px) {
  .thumbnail-sec {
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 !important;
  }
  .slider-section .column img {
    height: 50px;
  }
  .slider-caption {
    width: 80%;
  }
  .slider-caption h2 {
    font-size: 36px;
  }
  .mySlides img {
    object-position: right;
  }
  header .navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
    margin-right: 15px;
  }
  header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  header #navbarNavDropdown {
    padding: 0 15px 15px;
    background-color: #0003;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .header {
    padding: 0;
    background-color: #0003;
  }

  header .logo img {
    margin: 15px;
  }
  header .navbar-dark .navbar-nav .nav-link:after {
    display: none;
  }
  header .navbar-dark .navbar-nav .nav-item .caret:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #fff;
  }
  header .navbar-dark .navbar-nav .nav-item .caret {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 99;
    cursor: pointer;
    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  header .navbar-dark .navbar-nav .nav-item .caret.rotate {
    transform: rotate(180deg);
    right: 5px;
  }
  header .navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    margin: 0;
  }
  .dropdown-menu.show-menu {
    display: block;
  }
}
