{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 /images/*
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 /images/* - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<!-- Start: Header Sectiona -->
<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark">
    {% if page.logo %}
      {{ page.logo }}
    {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% if page.header %}
        {{ page.header }}
      {% endif %}
    </div>
  </nav>
</header>
<!-- End: Header Section -->

<!-- Start: Slider Section -->
<section class="slider-section">
  {% if show_slideshow %}
    <div class="container-fluid p-0">
      {% for slider_contents in slider_content %}
        {{ slider_contents | raw }}
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
      <div class="row thumbnail-sec">
        {% for slider_containers in slider_container %}
          {{ slider_containers | raw }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>
<!-- End: Slider Section -->

<div class="content-container container">

  <!-- Start: Main-page Content -->
  <div class="main-content">
    <div class="">
      {% if not is_front %}
        {{ page.breadcrumb }}
      {% endif %}

      <div class="row layout">
        {% if page.sidebar_first %}
          <div class="col-sm-3">
            <div class="sidebar">
              {{ page.sidebar_first }}
            </div>
          </div>
        {% endif %}

        {% if page.content or show_slideshow%}
          <div class="col-sm">
            <div class="content_layout">
              {{ page.content }}
            </div>
          </div>
        {% endif %}

        {% if page.sidebar_second %}
          <div class="col-sm-3">
            <div class="sidebar">
              {{ page.sidebar_second }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!--End: Main-page Content -->

</div> 

<!-- Start: Footer Section -->
<footer class="footer">
  <div class="container text-center">
    {% if show_social_icons %}
      <ul class="social list-inline">
        <li>
          {% if facebook_url %}
          <a href="{{ facebook_url }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
        </li>
        <li>
          {% if twitter_url %}
            <a href="{{ twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
        </li>
        <li>
          {% if instagram_url %}
            <a href="{{ instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          {% endif %}
        </li>
        <li>
          {% if linkedin_url %}
            <a href="{{ linkedin_url }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          {% endif %}
        </li>
        <li>
          {% if youtube_url %}
            <a href="{{ youtube_url }}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
    <!-- Start: Copyright Section -->
    <div class="copyright">
      <div class="">
        <span>Copyright © {{ "now"|date("Y") }}. All rights reserved.</span>
        <div class="copyright-text">
          {% if show_copyright_text %}
            {{ show_copyright_text }}
          {% endif %}
        </div>
      </div>
    </div>
    <!--End: Copyright Section -->
  </div>
</footer>
<!-- End: Footer Section -->
